.container {
    list-style: none;
    
}

.list {
    list-style: none;
    margin-top: 20px;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user .userName {
    font-weight: bold;

}

.user .userTitle {
    font-size: 12px;
    color: var(--textSoft);
}

.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.logout {
    text-decoration: none;
color: #fff;
display: flex;
padding:20px;
align-items: center;
gap: 10px;
margin: 5px 0;
background-color: transparent;
border: none;
font-size: 17px;
width: 100%;
cursor: pointer;

}

.logout:hover {
    background-color:var(--bgHover);
    border-radius: 5px;
}

