<div class="author">
    <h1 class="author-heading">Hi i'm raddy</h1>
    <p class="author-body">Lorem ipsum dolor sit amet.</p>
</div>

<img src="" alt="">

<section class="articles">
    <h2 class="articles-heading">Latest Posts</h2>

    <ul class="article-ul">
        <li><a href="#">
            <span>Post Title</span> <span class="articlelist-date">Date</span>
        </a></li>
    </ul>

    <a href="#" class="pagination">&malt; View older posts</a>
</section>