
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.result-images img {
    width: 150px ;
}
.container {
   background-color: #fff;
   padding: 5rem 7rem;
   border-radius: 2rem;
   box-shadow: 0 5px 10px rgba(0,0,0,0.3);

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}